{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

    <div class="container">
        <a href="{{ path('app_todo_create') }}" class="btn my-5 btn-outline-danger">Nouvelle ToDo</a>
    </div>
    
    {% for todo in todos %}
 
        <div class="container">
            <table class="table table-dark table-striped">
            <thead>
                <tr>
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Crée le</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">
                    {{ todo.title }}
                </th>
                <td>{{ todo.category.name }}</td>
                <td>{{ todo.createdAt|date('d/m/Y') }}</td>
                <td> 
                    <a href="{{ path('app_todo_detail', {'id' : todo.id})}}"class="btn btn-outline-info">Voir</a>
                    <a href="{{ path('app_todo_update', {'id' : todo.id})}}"class="btn btn-outline-warning">Editer</a>                  
                </td>
                <td>
                    <a href="{{ path('app_todo_delete', {'id' : todo.id})}}"class="btn btn-danger">Supprimer</a>                  
                </td>
                </tr>
    
            </tbody>
            </table>
        </div>
                    
        {% endfor %}
{% endblock %}

